/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Common Style */

.display-flex{
    display: flex;
}

.header-container, .banner{
    background-color: rgba(255, 144, 14, 0.1);
}

.dark-01{
    color: #131313;
}

.dark-02{
    color: #424242;
}

/* navbar realated style */
.navbar{
  justify-content: space-between;
  /* margin-top: 50px; */
}

.navbar h2{
    font-size: 2.8rem;
    font-weight: bold;
}

nav ul{
   align-items: center;
}

nav ul li{
    text-decoration: none;
    margin-right: 50px;
    list-style: none;
    
}

nav ul li a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}

nav, .banner{
    max-width: 1440px;
    margin: 0 auto;
}