/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Common Style */

.display-flex{
    display: flex;
}

.header-container{
    background-color: rgba(255, 144, 14, 0.1);
}

.dark-01{
    color: #131313;
}

.dark-02{
    color: #424242;
}

.dark-03{
    color: #727272;
}

.btn-primary{
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 24px;
}

.btn-primary a{
    text-decoration: none;
    color: #FFFFFF;
}
/* navbar realated style */
.navbar{
  justify-content: space-between;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.navbar h2{
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
}

nav ul{
   align-items: center;
}

nav ul li{
    text-decoration: none;
    margin-right: 50px;
    list-style: none;
    
}

nav ul li a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}

nav{
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner related style  */

.banner{
    text-align: center;
}

#banner-heading h1{
    font-size: 4rem;
    font-weight: bold;
}

#banner-heading p{
    font-size: 1rem;
    line-height: 26px;
}

.banner img{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 45px;
    border-radius: 8px;
}

/* Responsive media query  */

@media screen and (max-width: 576px) {
    .navbar, ul{
        flex-direction: column;
    }
}