/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Common Style */

.display-flex{
    display: flex;
}

.header-container{
    background-color: rgba(255, 144, 14, 0.1);
}

.dark-01{
    color: #131313;
}

.dark-02{
    color: #424242;
}

.dark-03{
    color: #727272;
}

.btn-primary{
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 24px;
    cursor: pointer;
}

.btn-primary a{
    text-decoration: none;
    color: #FFFFFF;
}
/* navbar realated style */
.navbar{
  justify-content: space-between;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.navbar h2{
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
}

nav ul{
   align-items: center;
}

nav ul li{
    text-decoration: none;
    margin-right: 50px;
    list-style: none;
    
}

nav ul li a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}

nav{
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner related style  */

.banner{
    text-align: center;
}

#banner-heading h1{
    font-size: 4rem;
    font-weight: bold;
}

#banner-heading p{
    font-size: 1rem;
    line-height: 26px;
}

.banner img{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 45px;
    border-radius: 8px;
}

main{
    max-width: 1440px;
    margin: 0 auto;

}

.feature{
    margin-top: 85px;
    align-items: center;
}

.feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    /* width: 100%; */
    margin-right: 73px;
}

.feature-txt{
    max-width: 530px;
}

.feature-txt h2{
    font-size: 2.8rem;
    font-weight: 700;
}

.feature-txt p{
    font-size: 1rem;
    line-height: 26px;
    padding-bottom: 32px;
}

.some-facts h2{
    font-size: 2.8rem;
    font-weight: bold;
    margin-top: 130px;
}

.some-facts p{
    font-size: 1rem;
    line-height: 26px;
    margin-top: 24px;
}

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.facts-item{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.facts-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.facts-info{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 5px;
}

.sponspors-container .sponspors-heading{
    text-align: center; 
}

.sponspors-heading h3{
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 24px;
}

.sponspors-heading p{
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 50px;
}

.sponspors-img-container{
    filter: grayscale(100%);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 50px;
}

/* Responsive media query  */

@media screen and (max-width: 576px) {
    .navbar, 
    ul {
        flex-direction: column;
    }

    .feature{
        flex-direction: column;
    }
    .feature-img{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }
    .facts-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .facts-item{
        margin: 0 auto;
    }
}

/* Medium size device */

@media screen and (min-width:576px) and (max-width:992px) {
    .feature{
        flex-direction: column;
    }

    .facts-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .facts-item{
        margin: 0 auto;
    }

    .feature-img{
        margin: 0 auto;
        width: 100%;
    }
    
}